.wellBgImg, .wellCarImg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%; 
    object-fit: cover; 
    object-position: center;
    filter: brightness(80%);
    transform: scaleX(-1);
}
.wellBgImg {
    z-index: -20;
}
.wellCarImg {
    box-shadow: 0px -5px 32px 32px rgba(0,0,0,0.56);
    z-index: -10;
}
.nadpis {
    position: fixed;
    z-index: -15;
    font-size: 13vw;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.479);
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: wellcome;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1;
}
.hTwo {
    color: white;
}
.pI {
    color: white;
}
.country {
    aspect-ratio: 1/1;
    width: 12.5%;
    padding: 12px;
    box-sizing: border-box;
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
}

@keyframes wellcome {
    0% {top: 100vh; opacity: 0;}
    50% {opacity: 0;}
    100% {top: 50vh; opacity: 100%;}
}


@media screen and (max-width: 510px) {
    
    .hTwo {
        font-size: 10vw;
        margin: 20px 0;
    }
    .nadpis {
        font-size: 15vw;
    }
}