/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'REM', sans-serif;
    text-decoration: none;
    color: #212529;
    line-height: 0.80;
    margin-bottom: 0;
}
h1  {
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
}
h2  {
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
}
h3  {
    font-weight: 700;
    font-size: 5rem;
}
h4  {
    font-size: 3rem;
    font-weight: 800;
}
h5  {
    font-size: 1.8rem;
}
h6 {
    font-size: 20px;
}
p {
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
    margin: 0 10px;
}

/* Button set */
.button {
    position: relative;
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid #212529;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: transparent;
}
.button h6 {
    z-index: 2;
    color: #212529;
    transition: color .5s;
}
.button div {
    height: 100%;
    left: 0;
    z-index: 1;
    background-color: #212529;
    position: absolute;
}

.button:hover div {
    animation-name: in;
    animation-duration: .5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
.button:hover h6 {
    color: white;
    transition: color .5s;
}

@keyframes in {
    0%      {width: 0;}
    100%    {width: 100%;}
}
@keyframes out {
    0%      {width: 100%;}
    100%    {width: 0%;}
}



/* Navbar */
header {
    position: relative;
    z-index: 98;
    overflow-x: hidden;
}
.wrap {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 15% 20px 15%;
}
.logo img {
    height: 80px;
}
.navbarLink {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.Link {
    padding: 20px;
}
.Link h6 {
    transition: color 0.25s;
}
.Link:hover h6 {
    color: red;
    transition: color 0.25s;
}
.menu {
    margin-left: auto;
    display: none;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #212529;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* WellcomeScreen */

.wellcomeWindow {
    position: relative;
    overflow-x: hidden;
}
.wellTextWrap {
    padding: 80px 15% 80px 15%;
    z-index: 2;
    background-color: white;
    user-select: none;

}
.wellTextWrap h1 {
    font-weight: 500;
    margin-top: 20px;
}
.wellcomeImage {
    height: calc(100vh - 407.6px);
    width: 100%;
    background-color: white;
}
.wellcomeImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



/* Content Rodinne Domy */
.Wrapper {
    margin: 0 15%;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.ad img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.iad div {
    padding: 0 12px 24px 12px;
}

.contentText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 40px;
}
.contentText h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

/* .bottomImg img {
    width: 20%;
} */


/* Sluzby */
.ItemArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 auto 40px auto;
    width: max-content;
    transition: transform 0.3s;
}
.ItemArea h5 {
    color: white;
    line-height: 1.2;
    width: max-content;
    text-align: center;
    transition: color 0.3s;
}
.Item {
    padding: 50px;
    background-color: white;
    border-radius: 100%;
    width: max-content;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.1);
    transition: background-color 0.3s;
}
.Item svg {
    height: 150px;
    width: 150px;
    
}

.ItemArea:hover {
    transform: scale(110%);
    transition: transform 0.3s;
}
.ItemArea:hover .Item {
    background-color: rgb(255, 0, 0);
    transition: background-color 0.3s;
}
.ItemArea:hover h5 {
    color: rgb(255, 0, 0);
    transition: color 0.3s;
}





@media only screen and (max-width: 1175px) {
    .navbarLink {
        display: none;
    }
    .menu {
        display: block;
    }
}

@media only screen and (max-width: 630px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    p {
        font-size: 0.9rem;
        margin: 0;
    }




    .logo img {
        height: 25px;
    }
    .wrap {
        margin: 24px;
    }
    header {
        position: fixed;
        width: 100%;
        background-color: white;
    }
    .wellTextWrap {
        padding: 50px 24px;
        margin-top: 74.5px;
    }
    .wellcomeImage {
        height: calc(100vh - 243.283px);
    }
    .Wrapper {
        margin: 0 12px;
        justify-content: center;
    }
}